.container{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.container2{
    border: 1px solid rgb(0, 255, 34);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.contaier3{
    border: 1px solid rgb(175, 28, 143);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box{
    background-color: red;
    border: 1px solid blue;
    width: 6vw;
    height: 6vw;
    text-align: center;
    line-height: 6vw;
    color: white;
}
.spacer1{
    width: 6vw;
    height: 6vw;
}