@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    background-image: url("/assets/images/d/inputbg.jpg");
    background-size: cover;
    background-position: center;
    max-width: 600px;
    min-width: 210px;
    box-shadow: 0px 0px 80px 40px black;
    border-radius: 20px;
    padding-bottom: 1%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;

}

#shortdesc {
    height: 20vh;
    min-height: fit-content;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

input {
    font-size: 1.2em;
    margin: 0.5em;
    min-width: 200px;
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 5px;
    opacity: 0.9;
    background-color: rgba(255, 222, 215, 0.907);
    transition: 0.3s ease-in-out;
    font-family: 'Staatliches';
    outline: 0px solid salmon;

}

input:focus {
    outline: 2px solid salmon;
    opacity: 1;
    background-color: rgb(252, 235, 232);
}

button {
    width: 40%;
    padding: 0.2em;
    align-self: center;
    font-size: 1.5em;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(204, 230, 252);
    transition: 0.2s ease-in;
}

button:hover {
    cursor: pointer;
    scale: 102%;
    background-color: rgb(184, 220, 252);
}

h2 {
    text-align: center;
    margin: 0.4em 0em 0.05em 0em;
    color: rgba(252, 155, 165, 1);
    font-weight: 1000;
    font-size: 36px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.124);
}

p {
    text-align: center;
    color: red;
    font-size: 1.5em;
}

/* .ng-invalid input {
    border: 1px solid red;
} */