.small-blocks-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5%;
}

.ans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 2%;
    border-radius: 15px;
    min-height: 50px;
    height: fit-content;
    margin-bottom: 5%;
}