.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px black;
    width: 200px;
    padding: 1%;
}

h1 {
    color: blueviolet;
}

p {
    text-decoration: underline;
    text-align: center;
}

button {
    border: 1px solid antiquewhite;
    background-color: rgb(152, 130, 238);
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 25px;
}

button:hover {
    scale: 102%;
    cursor: pointer;
}